:root {
  --color-outline-section: #f44336;
  --style-outline: hidden;
  --color-text-primary: #2196f3;
  --color-text-secondary: #757575;
  --color-text-light: #fff;
  --color-text-dark: #212121;
  --bgcolor-primary: #2f303a;
  --bgcolor-select: #2196f3;
  --bgcolor-start: #ffeb3b;
  --bgcolor-end: #ff5722;
  --bgcolor-light: #fff;
  --bgcolor-body: #f5f4fa;
  --font-text-primary: 'Roboto', sans-serif;
  --font-text-secondary: 'Raleway', sans-serif;
  --body: var(--font-text-primary);
  --ff-title: var(--font-text-primary);
}
/*-----------------------------------------------------------------------------------
	0.	CSS Reset
  1.  CSS-Core Remedies 
	2.	Document Setup
	3.  Structure
	4.	Element Base
	5.	Site Header
	6.	Site Navigation
	7.	Singular
	8.	Blocks
		  Entry Content
	9. Site Footer
	10. Forms
      # Buttons
      # Modal
  11. Atomic class
----------------------------------------------------------------------------------- */
/* 0. CSS Reset ------------------------------ */
html {
  font-family: var(--body);
  /* font-size: calc(1em + 0.75vw); */
  font-size: calc(1em + 0vw);
  line-height: 1.5;
}
*,
*::before,
*::after {
  /* modern-normalize set: box-sizing:  */
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* 1. Core Remedies ------------------------------ */
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.17rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.83rem;
}
h6 {
  font-size: 0.67rem;
}

h1 {
  margin: 0.67em 0;
}
pre {
  white-space: pre-wrap;
}
hr {
  border-style: solid;
  border-width: 1px 0 0;
  color: inherit;
  height: 0;
  overflow: visible;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}
picture {
  display: contents;
}
source {
  display: none;
}
img,
svg,
video,
canvas {
  height: auto;
}
img {
  border-style: none;
}
svg {
  overflow: hidden;
}
rticle,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
/* 2. Document Setup ------------------------------ */
button {
  cursor: pointer;
}
body {
  font-family: var(--font-text-primary);
}
img {
  display: block;
  max-width: 100%;
}
.section {
  padding: 94px 0;
}
header {
  padding: 30px 0;
  border-bottom: 1px solid #ececec;
  width: 100%;
}
footer {
  width: 100%;
  padding: 60px 0;
}
caption,
figcaption,
label,
legend {
  line-height: 1.375;
}
/* 3. Structure -------------------------------- */
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
  padding-top: 50px;
}
/* 4. Element Base ----------------------------- */
/* 5. Site Header ------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.03em;
}
h1 {
  font-weight: 900;
  font-size: 2.75rem;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-light);
}
h2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.17;
}
h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18;
}
/* 6.	Site Navigation ---------------------------- */
.menu__link {
  color: var(--color-text-dark);
}
.menu__link:hover,
.menu__link:focus,
.menu__link:active {
  color: var(--color-text-primary);
}
.is-active {
  position: relative;
  color: var(--color-text-primary);
}
.is-active::after {
  content: '';
  position: absolute;
  display: block;
  top: 43px;
  width: 100%;
  height: 4px;
  background-color: var(--color-text-primary);
  border-radius: 2px;
}
.contact {
  line-height: 16px;
}
.contact__link {
  font-weight: 500;
  font-size: 0.875rem;
  letter-spacing: 0.02em;
  display: inline-block;
  line-height: normal;
  color: var(--color-text-secondary);
}
.contact__icon {
  margin-right: 10px;
  display: inline-block;
  line-height: normal;
}
.contact__link:hover {
  --color-icon-select: var(--color-text-primary);
  color: var(--color-text-primary);
}
/* 7.	Singular ------------------------------ */
.main-bg-image {
  width: 1600px;
  background-image: linear-gradient(rgba(121, 85, 85, 0.3) 25%, rgba(4, 110, 185, 0.1)),
    url('./../images/header.jpg');
}
/* 8.	Blocks -------------------------------- */
.card {
  display: inline-block;
  width: 270px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}
.card--light {
  background: #ffffff;
}
.card__logo {
  box-sizing: border-box;
  width: 170px;
  border: 1px solid #afb1b8;
  display: inline-block;
}
.card__logo:hover,
.link-list__link:hover {
  --color-icon-select: #2196f3;
  --color-icon: #fff;
}
.card__logo:hover {
  border-color: #2196f3;
}
.card__thumb {
  position: relative;
  display: inline-block;
  /* z-index: -1; */
}
.card__icon {
  width: 270px;
  display: inline-flex;
}
.card__icon--dark {
  background: #f5f4fa;
}
.card-caption__hdr {
  line-height: 19px;
  margin-bottom: 10px;
}
.card-caption__label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: var(--color-text-light);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 5;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
}
.card-caption__desc {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.card-caption__text {
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
}
.card__shadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__image {
  position: relative;
  width: 370px;
  overflow: hidden;
}
.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.card__item:hover .card__overlay {
  transform: translateY(0);
}
.card__overlay--text {
  color: var(--color-text-light);
  font-size: 1.125rem;
  line-height: 1.6;
}
.link-list__link {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
/* 9. Site Footer ------------------------- */
.footer__address {
  padding-top: 20px;
}
.footer__text {
  font-style: normal;
  font-size: 0.875rem;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-text-light);
}
.footer__text li {
  padding-bottom: 9px;
}
.footer__text > li > a {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__text > li > a:hover {
  color: var(--color-text-primary);
}
/* 10. Forms ------------------------------ */
/* -Buttons- # # # # # # # # # # # # # # #  */
.btn {
  gap: 0.5em;
}
.btn__body {
  padding: 0.375em 1.375em;
  border-radius: 4px;
  border: none;
  font-family: var(--font-text-primary);
  font-size: 1rem;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--color-text-dark);
}
.btn__body--big {
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  padding: 0.625em 2.5625em;
}
.btn__body--blue {
  background-color: #2196f3;
  color: #fff;
}
.btn__body--grey {
  background-color: #f5f4fa;
  color: var(--color-text-dark);
}
.btn__body--blue:hover,
.btn__body--blue:focus {
  color: #2196f3;
  background: var(--bgcolor-light);
}
.btn__body--grey:hover,
.btn__body--grey:focus {
  color: #fff;
  background: var(--bgcolor-select);
}
/* -Modal- # # # # # # # # # # # # # # # */
.backdrop {
  cursor: not-allowed;
  display: flex;
  background-color: hsla(0, 0%, 0%, 0.5);
  position: fixed;
  left: 0;
  /* right: 0; */
  top: 0;
  /* bottom: 0; */
  width: 100%;
  height: 100%;
}
.modal {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: var(--bgcolor-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /* modal animation below */
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
.icon-cross {
  color: rgba(0, 0, 0, 0.1);
}
.logo__fonts {
  font-family: var(--font-text-secondary);
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text-primary);
}
/* Atomic ------------------------------ */
/* https://www.smashingmagazine.com/2013/10/challenging-css-best-practices-atomic-approach/ */
/* Emmet name */
.d-f {
  display: flex;
}
.d-ib {
  display: inline-block;
}
.block {
  display: block;
}
.d-i {
  display: inline;
}
.ai-c {
  align-items: center;
}
.ai-fs {
  align-items: flex-start;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.jc-fs {
  justify-content: flex-start;
}
.gap-0 {
  gap: 0;
}
.gap-30 {
  gap: 30px;
}
.gap-46 {
  gap: 46px;
}
.gap-70 {
  gap: 70px;
}
.gap-93 {
  gap: 93px;
}
.pt-0 {
  padding-top: 0;
}
.pt-10 {
  padding-top: 10px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-94 {
  padding-top: 94px;
}
.pt-200 {
  padding-top: 200px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pb-25 {
  padding-bottom: 25px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pb-94 {
  padding-bottom: 94px;
}
.pb-200 {
  padding-bottom: 200px;
}
.pr-0 {
  padding-right: 0;
}
.pr-5 {
  padding-right: 5px;
}
.pr-41 {
  padding-right: 41px;
}
.pl-0 {
  padding-left: 0;
}
.pl-5 {
  padding-left: 5px;
}
.pl-41 {
  padding-left: 41px;
}
.ptb-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.plr-0 {
  padding-left: 0;
  padding-right: 0;
}
.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.plr-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.plr-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.mt-0 {
  margin-top: 0;
}
.mt-14 {
  margin-top: 14px;
}
.mt-25 {
  margin-top: 25px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mr-a {
  margin-right: auto;
}
.mr-10 {
  margin-right: 10px;
}
.mr-99 {
  margin-right: 99px;
}
.ml-a {
  margin-left: auto;
}
.ml-99 {
  margin-left: 99px;
}
.mlr-24 {
  margin-left: 24px;
  margin-right: 24px;
}
.mlr-a {
  margin-left: auto;
  margin-right: auto;
}
.maw {
  max-width: 1600px;
}
.ms-0-a {
  margin: 0 auto;
}
.bd-n {
  border: none;
}
/* Fonts */
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-7 {
  font-weight: 700;
}
.ff-1 {
  font-family: var(--font-text-primary);
}
.ff-2 {
  font-family: var(--font-text-secondary);
}
.fz-26 {
  font-size: 1.625rem;
}
/* normal */
.fs-n {
  font-style: normal;
}
.fz-b {
  font-size: 1.125rem;
}
.fz-n {
  font-size: 1rem;
}
/* small */
.fz-s {
  font-size: 0.875rem;
}
.lh {
  line-height: normal;
}
.lh-n {
  line-height: 1;
}
.lh-2n {
  line-height: 2;
}
.lh-x119 {
  line-height: 1.19;
}
.lh-x11428 {
  line-height: 1.1428;
}
.lh-x11875 {
  line-height: 1.1875;
}
.lh-x171 {
  line-height: 1.71;
}
.lh-x1875 {
  line-height: 1.875;
}
.lts-s {
  letter-spacing: 0.02em;
}
.lts-n {
  letter-spacing: 0.03em;
}
.lts-2n {
  letter-spacing: 0.06em;
}
.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.tt {
  text-transform: uppercase;
}
.td-u {
  text-decoration: underline;
}
/* Colors */
.c {
  color: #000;
}
.c-0 {
  color: #fff;
}
.c-1 {
  color: var(--color-text-primary);
}
.c-2 {
  color: var(--color-text-secondary);
}
.op-60 {
  opacity: 0.6;
}
.bgc1 {
  background: #f5f4fa;
}
.bgc2 {
  background-color: var(--color-text-primary);
}
.bgc3 {
  background: var(--bgcolor-primary);
}
.w-246 {
  width: 246px;
}
.bdrs {
  border-radius: 0.25em;
}
/* transition */
.trs-du-tf {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.trs-c-bgc {
  transition-property: color, background-color;
}
.trs-c-f {
  transition-property: color, fill;
}
.trs-bd {
  transition-property: border;
}
.trs-f-bgc {
  transition-property: fill, background-color;
}
.trs-bxsh {
  transition-property: box-shadow;
}
